*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

/*********** signup page css starts****************/


.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: #050FAD;
    color: #fff;
}

.close-button i {
    font-size: 18px;
}


.cont{ 
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 117, 0.8),rgba(0, 0, 117, 0.8)), url('images/mountain.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-boxx{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 20px;
}

.form-boxx h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: navy;
    position: relative;
}

.form-boxx h1::after{
    content: "";
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: navy;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    margin-left: 15px;
    color: #000000;
}
form p{
    text-align: left;
    font-size: 13px
}

form p a{
    text-decoration: none;
    color: navy;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button{
    flex-basis: 48%;
    background: navy;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group{
    height: 250px;
}


.btn-field button.disable{
    background: #eaeaea;
    color: #555;
}








/*********** signup page css ends****************/